In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"loan_approval_dataset.csv")

In [3]:
df.head()

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected

In [4]:
df.isnull().sum()

loan_id                      0
 no_of_dependents            0
 education                   0
 self_employed               0
 income_annum                0
 loan_amount                 0
 loan_term                   0
 cibil_score                 0
 residential_assets_value    0
 commercial_assets_value     0
 luxury_assets_value         0
 bank_asset_value            0
 loan_status                 0
dtype: int64

In [5]:
df.columns = df.columns.str.strip()

In [6]:
columns = list(df.columns)
columns

['loan_id',
 'no_of_dependents',
 'education',
 'self_employed',
 'income_annum',
 'loan_amount',
 'loan_term',
 'cibil_score',
 'residential_assets_value',
 'commercial_assets_value',
 'luxury_assets_value',
 'bank_asset_value',
 'loan_status']

In [7]:
x=df[columns[1:12]]
print(x.columns)

Index(['no_of_dependents', 'education', 'self_employed', 'income_annum',
       'loan_amount', 'loan_term', 'cibil_score', 'residential_assets_value',
       'commercial_assets_value', 'luxury_assets_value', 'bank_asset_value'],
      dtype='object')

In [8]:
for i in columns[1:12]:
    print(x[i].dtype)
print("Done!!")

int64
object
object
int64
int64
int64
int64
int64
int64
int64
int64
Done!!

In [9]:
print(columns[2])
print(x[columns[2]].unique())
print(columns[3])
print(x[columns[3]].unique())

education
[' Graduate' ' Not Graduate']
self_employed
[' No' ' Yes']

In [10]:
y=df[columns[12::]]
print(y.columns)

Index(['loan_status'], dtype='object')

In [11]:
print(y['loan_status'].unique())

[' Approved' ' Rejected']

## To ignore Warnings

In [12]:
import warnings
warnings.filterwarnings("ignore")

## Label Encoding

In [13]:
from sklearn.preprocessing import LabelEncoder

In [14]:
le=LabelEncoder()

### for x:

In [15]:
ed=le.fit_transform(x.education)
x.drop(["education"],axis=1,inplace=True)
x["education"]=ed

In [16]:
x["education"].unique()

array([0, 1])

In [17]:
se=le.fit_transform(x.self_employed)
x.drop(["self_employed"],axis=1,inplace=True)
x["self_employed"]=se

In [18]:
x["self_employed"].unique()

array([0, 1])

### for y:

In [19]:
ls=le.fit_transform(y.loan_status)
y.drop(["loan_status"],axis=1,inplace=True)
y["loan_status"]=ls

In [20]:
y["loan_status"].unique()

array([0, 1])

## Splitting the dataset

### 1.KNN

In [21]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [22]:
train_x, test_x, train_y, test_y = train_test_split(x,y,test_size=0.1,random_state=0)

In [23]:
model1=KNeighborsClassifier(n_neighbors=1)
model1.fit(train_x,train_y)
accuracy=100*model1.score(test_x,test_y)
accuracy

51.99063231850117

In [24]:
for i in range(1,25):
    model=KNeighborsClassifier(n_neighbors=i)
    model.fit(train_x,train_y)
    print(f"k is {i} and {model.score(test_x,test_y)}")
print("Done!!")

k is 1 and 0.5199063231850117
k is 2 and 0.6018735362997658
k is 3 and 0.550351288056206
k is 4 and 0.5807962529274004
k is 5 and 0.5550351288056206
k is 6 and 0.5807962529274004
k is 7 and 0.5737704918032787
k is 8 and 0.6088992974238876
k is 9 and 0.5971896955503513
k is 10 and 0.5901639344262295
k is 11 and 0.5995316159250585
k is 12 and 0.6042154566744731
k is 13 and 0.5971896955503513
k is 14 and 0.6135831381733021
k is 15 and 0.5971896955503513
k is 16 and 0.6159250585480094
k is 17 and 0.6065573770491803
k is 18 and 0.6112412177985949
k is 19 and 0.6042154566744731
k is 20 and 0.5925058548009368
k is 21 and 0.6042154566744731
k is 22 and 0.6065573770491803
k is 23 and 0.5971896955503513
k is 24 and 0.6042154566744731
Done!!

### 2. SVM

In [25]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

In [26]:
train_x, test_x, train_y, test_y = train_test_split(x,y,test_size=0.1,random_state=1)

In [27]:
model2=SVC()
model2.fit(train_x,train_y)
accuracy=100*model2.score(test_x,test_y)
accuracy

60.421545667447305

### 3. Decision tree

In [28]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [29]:
train_x, test_x, train_y, test_y = train_test_split(x,y,test_size=0.23,random_state=1)

In [30]:
model3=DecisionTreeClassifier()
model3.fit(train_x,train_y)
accuracy=100*model3.score(test_x,test_y)
accuracy

98.4725050916497

#### Prediction

In [31]:
no_of_dependents=int(input("NO.of dependents:"))
education=int(input("Enter 0:Graduate, 1:Not Graduate"))
self_employed=int(input("Enter Self employed:--0:No , 1:Yes"))
income_annum=int(input("Enter Annual Income:"))
loan_amount=int(input("Enter Loan Amo:"))
loan_term=int(input("Enter Loan term:"))
cibil_score=int(input("Enter Cibil Score:"))
residential_assets_value=int(input("Enter Residential Assests value:"))
commercial_assets_value=int(input("Enter Commercial Assests value:"))
luxury_assets_value=int(input("Enter Luxury Assests value:"))
bank_asset_value=int(input("Enter Bank Assests value:"))

NO.of dependents: 3
Enter 0:Graduate, 1:Not Graduate 1
Enter Self employed:--0:No , 1:Yes 1
Enter Annual Income: 0
Enter Loan Amo: 500000
Enter Loan term: 3
Enter Cibil Score: 900
Enter Residential Assests value: 50000
Enter Commercial Assests value: 0
Enter Luxury Assests value: 0
Enter Bank Assests value: 50000

In [32]:
t=[no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value]

In [33]:
if model3.predict([t])[0]==0:
    print("Approved")
else:
    print("Rejected")

Approved

#### Decision tree is performing good!! So Let's save it

In [34]:
import pickle
pickle.dump(model3,open("loan.pkl","wb"))